@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Candara';
    overflow-x: hidden;
}
body {
	overflow-y: hidden;
}
nav div.navbar-brand, ul li a.nav-link {
    font-family: 'Quicksand', sans-serif;
}
.navbar-brand img {
    width: 120px;
    height: auto;
}
.navbar {
	z-index: 1000;
    transition: .4s;
    background-color: black;
}
h1 {
    text-align: center;
    font-size: 50px;
}
p{
    font-size: 18px;
    text-indent: 50px; 
}
img {
    max-width: 100%;
    height: auto;
}