html, body {
	margin: 0;
	padding: 0;
	font-family: 'Lato';
	overflow-x: hidden;
	background-image: url(../img/bg.jpg);
	background-repeat: repeat;
}
body {
	overflow-y: hidden;
}

.welcome {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.welcome video {
	position: absolute;
	left: 0;
	bottom: 0;
	min-width: 100vw;
	min-height: 100vh;
	width: auto;
	height: auto;
	filter: brightness(20%);
	opacity: 0.9;
	z-index: 1;
}

.welcome img {
	z-index: 2;
}

.welcome h1 {
	margin: 0;
	font-size: 4.5vw;
	color: white;
	z-index: 2;
}

.welcome h3 {
	font-size: 3vw;
	color: white;
	z-index: 2;
}

.welcome a span{
	position: absolute;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 3px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
	z-index: 2;
}
.welcome a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: rotate(-45deg);
	box-sizing: border-box;
}

.sec {
	text-align: center;
}
.sec h1 {
	font-size: 3vw;
	margin-bottom: 5px;
}

#lectures a {
	text-decoration: none;
	transition: .7s;
}
#lectures a:hover div img {
	transform: scale(1.2);
}
.notes {
	display: inline-flex;
	background-size: 100vw auto;
	width: 100%;
	height: auto;
	align-items: center;
}
.notes:nth-child(1) {
	background-image: url(../img/javaservlet.png);
}
.notes img {
	padding: 0;
	margin: 0;
	width: 6.5%;
	height: 6.5%;
	margin-left: 6vw;
	padding-bottom: 2vh;
}
.notes h2 {
	color: white;
	font-size: 2.5vw;
}

#repo p, #lectures p {
	margin: 25px;
	font-size: 24px;
	text-align: center;
	padding-bottom: 15px;
}
#repo a {
	text-decoration: none;
	background-color: #414852;
	padding: 20px;
	color: white;
	border-radius: 15px;
}
#repo pre {
	font-size: 20px;
}

#about_text {
	padding: 0;
	text-align: justify;
}
#about_text p {
	font-size: 20px;
	padding-left: 200px;
	padding-right: 200px;
}

.profiles {
	text-align: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: 10px;
	text-align: center;
	display: inline-block;
}

.card h1{
	font-size: 32px;
}

.card img {
	width: 100%;
}

.title {
	font-family: 'Calibri Light';
	font-weight: bold;
	font-size: 18px;
	color: black;
}

div.tar {
	padding-top: 30px;
}


footer {
	text-align: center;
	overflow-y: hidden;
	color: white;
	background-color: black;
	opacity: .9;
}